<div class="container">
<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Messages</h6>
    <div *ngFor="let user of users" class="media text-muted pt-3">
      <img class="mr-2 rounded" [src]="user.photoUrl" style="height:32px;" data-holder-rendered="true">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">{{user.username | titlecase}}</strong>
          <a [routerLink]="['/messages/'+user.id]">Message</a>
        </div>
        <span class="d-block">{{user.latestMessage}} - <b>{{user.latestMessageSender | titlecase}}</b> {{user.sent | date}}</span>
      </div>
    </div>
  </div>
</div>

