<div class="container">
    <div class="card">
        <div class="card-header">
          {{sender.username | titlecase}}
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let message of messages" class="list-group-item"><p><b>{{message.sender.username | titlecase}}</b></p>{{message.content}}</li>
        </ul>
      </div>
      <form class="input-group mb-3 mt-3" #registerForm="ngForm" (ngSubmit)="sendMessage()">
          <input type="text" class="form-control" placeholder="Message" name="message" [(ngModel)]="messageContent">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Send</button>
          </div>
      </form>
</div>
