<div class="container">
  <!-- Heading -->
  <h1>{{this.house['paon']}} {{this.house['street']}}, {{this.house['postcode']}}</h1>
  <hr>

  <!-- Carousel Image Displayer -->
  <carousel>
    <slide *ngFor="let photo of this.house['photos']">
      <img src="https://via.placeholder.com/1080x400.png?text=Picture+WhoIsHostingThis.com" alt="first slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <hr>

  <!-- Price -->
  <h2>£{{this.house['price']}}</h2>
  <hr>

  <!-- Description -->
  <h2>Description</h2>
  <p>{{this.house['description']}}</p>
  <hr>

  <!-- About This House -->
  <h2>About this house</h2>
  <div class="row">
      <iframe width='100%' height='100%' id='mapcanvas' [src]='this.mapUrl' frameborder='0' scrolling='yes' marginheight='0' marginwidth='0'><div style='overflow:hidden;'><div id='gmap_canvas' style='height:100%;width:100%;'><div class="zxos8_gm"><a rel="nofollow"  href="https://www.themesort.com">WordPress Theme sorter</a></div></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>
  </div>

  <hr>

  <!-- Table -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">House Details</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Price</th>
        <td>£{{this.house['price']}}</td>
      </tr>
      <tr>
        <th scope="row">Number of Bedrooms</th>
        <td>{{this.house['bedrooms']}}</td>
      </tr>
      <tr>
        <th scope="row">House Number</th>
        <td>{{this.house['paon']}}</td>
      </tr>
      <tr>
        <th scope="row">Street</th>
        <td>{{this.house['street']}}</td>
      </tr>
      <tr>
        <th scope="row">City</th>
        <td>{{this.house['city']}}</td>
      </tr>
      <tr>
        <th scope="row">County</th>
        <td>{{this.house['county']}}</td>
      </tr>
      <tr>
        <th scope="row">Postcode</th>
        <td>{{this.house['postcode']}}</td>
      </tr>
    </tbody>
  </table>
  <hr>

  <!-- More Information About the User -->
  <h2>More About the Owner</h2>
</div>