<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let user of users">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" [src]="user['photoUrl']" alt="Thumbnail [100%x225]">
        <div class="card-body">
          <p class="card-text"><b>{{user['username'] | titlecase}}</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">Last Online: {{user['lastActive']}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>