<div style="margin-top:100px" class="container">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>What are you looking for?</h1>
    <p class="lead">Just sign up to browser our vast range of both new and old houses</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>