<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let bookmark of bookmarks">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" [src]="bookmark['house']['photos'][0]['url']" alt="Thumbnail [100%x225]">
        <div class="card-body">
          <p class="card-text"><b>{{bookmark['house']['paon']}} {{bookmark['house']['street']}}</b></p>
          <p class="card-text">{{bookmark['house']['postcode']}}</p>
          <p>£{{bookmark['house']['price']}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/house/'+this.bookmark['house']['id']]">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="this.addBookmark(this.bookmark['house']['id'].toString())">Remove</button>
            </div>
            <small class="text-muted"><i class="fa fa-bed"> {{bookmark['house']['bedrooms']}}</i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>