<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="saveChanges()">
    <h2 class="text-center text-primary">Update Details</h2>
    <hr>

    <div class="form-group">
      <input type="text" class="form-control" required name="username" [(ngModel)]="user.username" placeholder="Username">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" required name="email" [(ngModel)]="user.email" placeholder="Email">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" required name="password" [(ngModel)]="user.password" placeholder="Password">
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success mr-3" type="submit">Save Changes</button>
    </div>
  </form>
</div>